/*! typohan.css | MIT License | github.com/iceway/typohan.css */

$font-size = 17.6px

/* 字体选择, 参考：
	https://segmentfault.com/a/1190000006110417
	https://zenozeng.github.io/fonts.css/
  中文字体中宋体可能更像英文意义上的衬线体，这里用楷体只是觉得显示效果更好。
*/

/* 三大操作系统默认字体 */
//$font-sans-en = Helvetica, Arial, "Liberation Sans"
$font-sans-cn = "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Noto Sans CJK SC", "Source Han Sans SC", "WenQuanYi Micro Hei"
//$font-serif-en = Baskerville, Georgia, "Liberation Serif"
$font-serif-cn = "Kaiti SC", STkaiti, KaiTi, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "Noto Serif CJK SC", "Source Han Serif SC"
$font-mono = Consolas, Inconsolata

$font-mono-custom = "Sarasa Mono SC", "Source Code Pro"

$font-main = $font-sans-cn, sans-serif
$font-serif = $font-serif-cn, serif
$font-mono = $font-mono-custom, $font-mono, monospace

$color-light = #f8f8f8
$color-softlight = #f0f0f0
$color-dark = #333333
$color-softdark = #5c5c5c
$color-harddark = #282828

$color-bg = $color-light
$color-fg = $color-softdark

$color-cyan =  #478FB1

/* 参考 vuepress */
$color-tip-bg = #e2f4e9
$color-tip-border = #42b983
$color-tip = #285941
$color-warning-bg = rgba(255,229,100,.3)
$color-warning-border = #e7c000
$color-warning = #6b5900
$color-danger-bg = #ffe6e6
$color-danger-border = #c00
$color-danger = #4d0000

/* 参考 monokai pro */
$color-red = #ff6188
$color-orange = #fc9867
$color-yellow = #ffd866
$color-green = #a9dc76
$color-blue = #78dce8
$color-violet = #ab9df2


moz-webkit(x, args...)
  -moz-{x}: args
  -webkit-{x}: args
  {x}: args

*
  margin: 0
  padding: 0

/* 定义全局颜色和字体；防止浏览器默认的字符缩放 */
html
  color: $color-fg
  background-color: $color-bg
  font: $font-size/1.3em $font-main
  moz-webkit(font-size-adjust, 100%)

body
  margin: 2em auto 4em auto
  max-width: 1024px

/* 标题 */
h1, h2, h3, h4, h5, h6
  color: $color-dark
  line-height: 1.35em
  margin: 1.5em 0 0.5em 0
  font-weight: bold
h1
  font-size: 2.0em
h2
  font-size: 1.8em
h3
  font-size: 1.6em
h4
  font-size: 1.4em
h5
  font-size: 1.2em
h6
  font-size: 1.0em

/* 段落 */
p
  margin: 1em 0
  /* 中文段落第一行应该缩进2个字的宽度，但是现在大多的网站都没有这个缩进。
     而且考虑到可能用户全英文的页面，这里取消段落第一行的缩进。
  */
  /*text-indent: 2em*/
  line-height: 1.6em
  &.poem-like
    text-indent: 0
    margin-left: 2em

/* 列表 */
ul, ol
  //-webkit-margin-before: 0
  //-webkit-margin-after: 0
  //-webkit-padding-start: 0
  padding-left: 2em
  li
    margin: 0.5em 0
  p
    text-indent: 0
  blockquote
    margin-left: 0
    margin-right: 0
  &.none-list
    list-style: none

#table-of-content+ul
  list-style: none
  ul
    list-style: none

/* HTML5标签默认显示为块 */
article, aside, details, figcaption, figure, footer,
header, main, menu, nav, section, summary
  display: block

/* 多媒体标签和img类似，显示为行内块 */
audio, canvas, progress, video
  display: inline-block

img
  max-width: 98%
  display: block
  margin: 1em auto
  box-shadow: 5px 5px 10px $color-softdark

figure
  margin: 1em 0 2em 0

figcaption
  font-style: italic
  text-align: center
  margin: 1em 0


/* 表单元素默认不会继承父级元素font，单独设置font */
button, input, select, textarea
  font: normal 1em/1.5em $font-main

/* 取消表格中单元格之间的间隔边距，并让相邻边重合 */
table
  width: 100%
  border-collapse: collapse
  page-break-inside: avoid
  font: normal 0.9em/1em $font-main
  border: 2px solid $color-softdark
  line-height: normal
  tr, th, td
    border: 1px solid lighten($color-fg, 50%)
    padding: 0.5em 1em
    text-align: left
  th
    font-weight: bold
    background-color: lighten($color-softdark, 80%)
  caption
    text-align: center
    font-weight: bold
    padding: 0.5em

/* 块及段落引用 */
blockquote
  font: normal 1em/1.5em $font-serif
  color: lighten($color-fg, 10%)
  background: $color-softlight
  border-left: 3px solid gainsboro
  position: relative
  margin: 1em 0
  padding: 0 1em

/* 不推荐在中文环境使用<i>标签强调某些内容，中文没有斜体字，而英文手写本来就是斜体字。 */
i
  font-style: italic

strong, b
  font-weight: bold
  color: inherit

/* 属性添加鼠标问号 */
abbr
  cursor: help
  border-bottom: 1px dotted

/* 删除样式 */
del
  text-decoration: line-through

/* 上下标 */
sub, sup
  font-size: x-small
  line-height: 0
  position: relative
  vertical-align: baseline
sub
  bottom: -0.25em
sup
  top: -0.5em

small
  font-size: smaller
  line-height: 0
  position: relative
  vertical-align: baseline

/* 链接颜色 */
a
  color: $color-cyan
  background-color: transparent
  text-decoration: none
  border-bottom: 1px solid $color-cyan
  &:hover
    border-bottom-color:  lighten($color-cyan, 50%)

/* 地址，变量等使用等宽字体 */
address, caption, cite, dfn, var
  font: normal $font-mono

/* 代码片段, 代码高亮样式根据高亮使用的解析器决定，一般是highlight.js或者prism.js */
pre
  font-size: 0.8em
  background: $color-softlight
  margin: 1em 0
  padding: 1em
  //border: 1px solid $color-softdark
  //border-radius: 5px
  display: block
  overflow-x: auto
  word-wrap: normal
  white-space: pre
  & > code
    font-family: $font-mono
    background: none
    margin: 0
    padding: 0
  :not(&) > code
    font-family: $font-mono
    font-size: 0.8em
    background: $color-softlight
    margin: 0 0.2em
    padding: 0.1em 0.3em
    border-radius: 5px

hr
  border: none
  border-bottom: 1px solid lighten($color-fg, 30%)
  margin-bottom: 1em
  height: 10px

/* 引用符号 */
q
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019"
  &:lang(zh)
    quotes: "\300c" "\300d" "\300e" "\300f" "\300c" "\300d" "\300e" "\300f" "\300c" "\300d" "\300e" "\300f"
  &:before
    content: open-quote
  &:after
    content: close-quote

/* 键盘按键, https://github.com/auth0/kbd/blob/gh-pages/kbd.css */
kbd
  background-color: $color-softlight
  font-family: $font-mono
  display: inline-block
  border-radius: 3px
  padding: 0px 4px
  box-shadow: 1px 1px 1px #777
  margin: 2px
  font-size: small
  vertical-align: text-bottom
  cursor: pointer
  font-weight: bold
  letter-spacing: 1px

/* ===特定类样式=== */
/* 传统中文样式：段落首行缩进，强调使用字体底部加着重号的方式等。 */
.cn-style
  p
    text-indent: 2em
    &.poem-like
      text-indent: 0
      margin-left: 2em
  /* 中文环境：强调下面加点，而不是使用斜体 */
  em
    moz-webkit(text-emphasis, filled circle)
    moz-webkit(text-emphasis-position, under)
    font-style: inherit
    border-bottom-style: dotted
    border-bottom-width: calc(0px)
    padding-bottom: calc(0px)

/* 标题前面自动加章节号 */
.counter
  body
    counter-reset: h1counter
  h1
    counter-reset: h2counter
    counter-increment: h1counter
    &:before
      content: counter(h1counter) ".\0000a0\0000a0"
  h2
    counter-reset: h3counter
    counter-increment: h2counter
    &:before
      content: counter(h1counter) "." counter(h2counter) ".\0000a0\0000a0"
  h3
    counter-reset: h4counter
    counter-increment: h3counter
    &:before
      content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0"
  h4
    counter-reset: h5counter
    counter-increment: h4counter
    &:before
      content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0"
  h5
    counter-reset: h6counter
    counter-increment: h5counter
    &:before
      content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) ".\0000a0\0000a0"
  h6
    counter-increment: h6counter
    &:before
      content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) "." counter(h6counter) ".\0000a0\0000a0"

/* 独立封面，<header>标签中的特定类段落。*/
header
  color: $color-harddark
  font-weight: bold
  p
    &.title, &.subtitle, &.author, &.date
      text-align: center
    &.title
      font-size: 200%
    &.subtitle
      font-size: 130%

@media print
  html
    background-color: white
  header
    page-break-after: always
  h1
    /* 页面中h1可以认为是文章的顶层章节标题，所以在其位置之前强制翻页。
       这里的效果在打印文档，或者打印成pdf时可以看到，在h1之前会翻页。
     */
    page-break-before: always
  div.document-tag
    page-break-before: always
    page-break-after: always

/* 自定义 div 和 span 样式，参考 vuepress */
div
  &.tip, &.warning, &.danger
    display: block
    padding: .1rem 1.5rem
    border-left-width: .5rem
    border-left-style: solid
    margin: 1rem 0
  &.tip
    background-color: $color-tip-bg
    border-color: $color-tip-border
    color: $color-tip
  &.warning
    background-color: $color-warning-bg
    border-color: $color-warning-border
    color: $color-warning
  &.danger
    background-color: $color-danger-bg
    border-color: $color-danger-border
    color: $color-danger
  &.red, &.orange, &.yellow, &.green, &.blue, &.violet
    display: block
    border: 1px solid
    box-shadow: 5px 5px 5px $color-softdark
    padding: .1rem 1.5rem
    margin: 1rem 5px
    color: black
  &.red
    background-color: $color-red
    border-color: darken($color-red, 30%)
  &.orange
    background-color: $color-orange
    border-color: darken($color-orange, 30%)
  &.yellow
    background-color: $color-yellow
    border-color: darken($color-yellow, 30%)
  &.green
    background-color: $color-green
    border-color: darken($color-green, 30%)
  &.blue
    background-color: $color-blue
    border-color: darken($color-blue, 30%)
  &.violet
    background-color: $color-violet
    border-color: darken($color-violet, 30%)

div.output
  display: block
  padding: .1rem 1.5rem
  border: 1px dashed $color-softdark
  border-radius: 5px
  margin: 1rem 0
  background-color: $color-softlight

span
  &.mark
    background-color: yellow
    color: black
  &.tip, &.warning, &.danger
    margin: 0 0.1em
    padding: 0 0.1em
    border-bottom-width: 1px
    border-bottom-style: solid
  &.tip
    background-color: $color-tip-bg
    border-color: $color-tip-border
    color: $color-tip
  &.warning
    background-color: $color-warning-bg
    border-color: $color-warning-border
    color: $color-warning
  &.danger
    background-color: $color-danger-bg
    border-color: $color-danger-border
    color: $color-danger
  &.red, &.orange, &.yellow, &.green, &.blue, &.violet
    margin: 0 0.1em
    padding: 0
    color: $color-dark
  &.red
    background-color: $color-red
    border-color: darken($color-red, 30%)
  &.orange
    background-color: $color-orange
    border-color: darken($color-orange, 30%)
  &.yellow
    background-color: $color-yellow
    border-color: darken($color-yellow, 30%)
  &.green
    background-color: $color-green
    border-color: darken($color-green, 30%)
  &.blue
    background-color: $color-blue
    border-color: darken($color-blue, 30%)
  &.violet
    background-color: $color-violet
    border-color: darken($color-violet, 30%)

/* 标签样式，monokai配色。 */
div.document-tag
  span.tag
    display: inline-block
    border: 2px solid
    border-radius: 1em
    padding: 0.1em 0.5em
    margin: 0.2em 0.3em
    text-indent: 0
    color: $color-dark
    &:nth-child(6n+1)
      background-color: $color-red
      border-color: darken($color-red, 30%)
    &:nth-child(6n+2)
      background-color: $color-orange
      border-color: darken($color-orange, 30%)
    &:nth-child(6n+3)
      background-color: $color-yellow
      border-color: darken($color-yellow, 30%)
    &:nth-child(6n+4)
      background-color: $color-green
      border-color: darken($color-green, 30%)
    &:nth-child(6n+5)
      background-color: $color-blue
      border-color: darken($color-blue, 30%)
    &:nth-child(6n+6)
      background-color: $color-violet
      border-color: darken($color-violet, 30%)

