/*! typohan.css | MIT License | github.com/iceway/typohan.css */

$font-normal: Helvetica, Arial, "Liberation Sans", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "Source Han Sans SC", "Wenquanyi Micro Hei", sans-serif;
$font-script: Baskerville, Georgia, "Liberation Serif", STKaiti, KaiTi, "AR PL UKai CN", serif;
$font-mono: "Source Code Pro", monospace;

$bg: #f8f8f8;
$bg-code: #f0f0f0;
$fg: #000000;
$fg-light: #5c5c5c;

/* 定义全局背景色和前景色；防止浏览器默认的字符缩放 */
html {
	color: $fg-light;
	background: $bg;
	font-family: $font-normal;
	font-size: 17.6px;
	line-height: 1.3em;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
}

/* HTML5标签默认显示为块 */
article, aside, details, figcaption, figure, footer,
header, main, menu, nav, section, summary {
	display: block;
}

/* 多媒体标签和img类似，显示为行内块 */
audio, canvas, progress, video {
	display: inline-block;
}

/* 隐藏有hidden属性或hidden类的元素 */
[hidden], .hidden {
	display: none;
}

/* 图片最大值 */
img {
	max-width: 100%;
	display: block;
	margin-bottom: 2em;
}

/* 表单元素默认不会继承父级元素font，单独设置font */
button, input, select, textarea {
	font: normal 1em/1.8 $font-normal;
}

/* 取消表格中单元格之间的间隔边距，并让相邻边重合 */
table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 0.9em;

	th, td, caption {
		border: 1px solid lighten($fg, 70%);
		padding: 0.5em 1em;
		text-align: left;
	}

	th {
		font-weight: bold;
	}

	caption {
		font-weight: bold;
		text-align: center;
	}
}

/* 块及段落引用 */
blockquote {
	font: normal 1em/1.5 $font-script;
	position: relative;
	color: lighten($fg-light, 10%);
	border-left: 3px solid lighten($fg-light, 50%);
	margin: 1em 2em;
	padding: 0 2em;
}

/* 中文环境：强调下面加点，而不是使用斜体 */
em {
	-moz-text-emphasis: filled circle;
	-webkit-text-emphasis: filled circle;
	text-emphasis: filled circle; 
	-moz-text-emphasis-position: under;
	-webkit-text-emphasis-position: under;
	text-emphasis-position: under;
	font-style: inherit;
	border-bottom: 2px dotted;
	padding-bottom: .05em;
	border-bottom-width: -webkit-calc(0px);
	padding-bottom: -webkit-calc(0px);
}

/* 不推荐在中文环境使用<i>标签强调某些内容，中文没有斜体字，而英文手写本来就是斜体字。 */
i {
	font-style: italic;
}

strong, b {
	font-weight: bold;
}

/* 属性添加鼠标问号 */
abbr {
	cursor: help;
	border-bottom: 1px dotted;
}

/* 删除样式 */
del {
	text-decoration: line-through;
}

/* 上下标 */
sub, sup {
	font-size: 70%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

small {
	font-size: 80%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

/* 链接颜色 */
a {
	background-color: transparent;
	text-decoration: none;
	color: $fg-light;
	border-bottom: 1px solid lighten($fg-light, 50%);

	&:hover {
		color: $fg;
		border-bottom-color: $fg;
	}
}

/* 地址，变量等使用等宽字体 */
address, caption, cite, pre, code, dfn, var {
	font-family: $font-mono;
	font-style: normal;
	font-weight: normal;
}

/* 代码片段 */
code {
	background: $bg-code;
	border-radius: 5px;
	margin: 0 0.2em;
	padding: 0.2em;
	font-size: 0.8em;
}
pre {
	background: $bg-code;
	border: 1px solid lighten($fg, 50%);
	border-radius: 5px;
	padding: 1em 2em;
	display: block;
	line-height: 1em;
	overflow-x: auto;
	word-wrap: normal;
	white-space: pre;

	code {
		background: transparent;
		border-radius: 0;
		margin: 0;
		padding: 0;
	}
}

/* 标题 */
h1, h2, h3, h4, h5, h6 {
	color: $fg;
	font-weight: bold;
	line-height: 1.35;
	margin: 1.5em 0 0.5em 0;
}

h1 {
	font-size: 2em;
}

/* 段落 */
p {
	margin: 1em 0;
	text-indent: 2em;
	line-height: 1.6em;

	&.poem-like {
		text-indent: 0;
		margin-left: 2em;
	}
}

ul, ol {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-padding-start: 0;
	padding-left: 2em;

	&.none-list {
		list-style: none;
	}

	li {
		margin: 0.5em 0;
	}

	p {
		text-indent: 0;
	}

	blockquote {
		margin-left: 0;
		margin-right: 0;
	}
}

hr {
	border: none;
	border-bottom: 1px solid $fg-light;
	margin-bottom: 1em;
	height: 10px;
}

/* 引用符号 */
q {
	quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019";

	&:lang(zh) {
		quotes: "\300c" "\300d" "\300e" "\300f" "\300c" "\300d" "\300e" "\300f" "\300c" "\300d" "\300e" "\300f";
	}

	&:before {
		content: open-quote;
	}

	&:after {
		content: close-quote;
	}
}

/* 键盘按键 */
kbd {
	-moz-border-radius:3px;
	-moz-box-shadow:1px 1px 0 rgba(0,0,0,0.4),0 0 0 2px #fff inset;
	-webkit-border-radius:3px;
	-webkit-box-shadow:1px 1px 0 rgba(0,0,0,0.4),0 0 0 2px #fff inset;
	border-radius:3px;
	box-shadow:1px 1px 0 rgba(0,0,0,0.4),0 0 0 2px #fff inset;
	color: lighten($fg, 20%);
	background-color:darken($bg-code, 10%);
	border:1px solid #ccc;
	display:inline-block;
	font-family:$font-mono;
	font-size: 80%;
	line-height:1.4;
	margin:0 .1em;
	padding:.1em .5em;
	text-shadow:0 1px 0 #fff;
}
